{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
    <div class="w-100 d-flex justify-content-center"><h1 class="mb-3">Register</h1></div>
        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
        }) }}
        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'agree'}}) }}
        <a class="mt-4 btn btn-outline-info" href="{{ path('app_login') }}">
            You already have an account
        </a>
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
