{# article/article.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <h1>{{ article.name }}</h1>

{#    {% if article.image %}#}
{#        <img src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.title }} image">#}
{#    {% endif %}#}

{#    <p>{{ article.paragraph }}</p>#}

    {% if blocs is defined and blocs is not empty %}
        {% for bloc in blocs %}
             <h2>{{ bloc.type }}</h2>
        {% endfor %}
    {% endif %}
{% endblock %}
