{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <div class="article-list">
        {% if articles is defined and articles is not empty %}
        {% for article in articles %}
            <div class="article-item">
                <div class="bloc-list">
                    {% for bloc in article.blocs %}
                        <div class="bloc-item">
                            {% if bloc.title is not null %}
                                <h2>{{ bloc.title }}</h2>
                            {% endif %}
                            {% if bloc.filePath is not null %}
                                <img src="/media/images/{{ bloc.filePath }}" />
                            {% endif %}
                            {% if bloc.paragraph is not null %}
                                {{ bloc.paragraph|raw }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <p><strong>{{ article.name }}</strong> By {{ article.author.prenom }} {{ article.author.nom }}</p>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}