<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>We The Humans - Homepage</title>
		<link rel="stylesheet" href="/css/index.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
		<script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
	</head>

	<body>
		<div class="page-transition-overlay">
			<img src="./img/logo.png" class="overlay-logo">
		</div>

		<div class="exit-page-transition-overlay">
			<div class="overlay-title">Loading...</div>
		</div>

		<header>
			<nav class="navbar">
				<div class="logo">
					<img src="/img/logo.png" alt="logo">
				</div>

				{% if app.user %}
					<ul class="nav-links">
						<li>
							<a href="{{ path('app_logout') }}" id="logoutBtn"><img src="{{ asset('img/logout.svg') }}" class="svgLogo2" alt="logo logout"/>
								Logout</a>
						</li>
						<li>
							<a href="#" class="highlight-link">
								{{ app.user.prenom }}
								{{ app.user.nom }}
								{% if app.user.avatar is null %}
									<img class="imgLogo" src="/img/avatar_default.png" alt="User Avatar" style="margin-left: 5px"/>
								{% else %}
									<img class="imgLogo" src="{{ app.user.avatar }}" alt="User Avatar"/>
								{% endif %}
							</a>
						</li>
					</ul>
				{% else %}
					<div class="buttons">
						<a href="{{ path('app_login') }}" class="btn2 login">Sign In</a>
						<a href="{{ path('app_register') }}" class="btn2 register">Create Account</a>
					</div>
				{% endif %}
			</nav>
			<div class="line"></div>
		</header>

		<main>
			<section class="leftpart">


				<h1>
					<a class="titre">WE THE HUMANS</a>
				</h1>

				<h2>WTH is an innovative web platform designed to enlighten individuals about their physical characteristics
															            through detailed statistical analysis and articles. Our goal is to provide comprehensive insights into
															            various
															            human attributes, such as height, weight, agility, and more,
															            by comparing them against a vast database of statistics.
				</h2>

				<div class="wrapper-container">


					<div class="wrapper">
						<a class="cta" href="{{ path('app_analytics') }}">
							<span>3D ANALYTICS</span>
							<span>
								<svg width="66px" height="43px" viewbox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
									</g>
								</svg>
							</span>
						</a>
					</div>

					<div class="wrapper">
						{% set allowedRoles = ['ROLE_AUTHOR', 'ROLE_PUBLISHER', 'ROLE_DESIGNER', 'ROLE_SUPPLIER', 'ROLE_ADMIN'] %}
						{% set hasAllowedRole = false %}

						{% if app.user %}
							{% for role in allowedRoles %}
								{% if role in app.user.roles %}
									{% set hasAllowedRole = true %}
								{% endif %}
							{% endfor %}
						{% endif %}

						<a class="cta cta-dashboard {% if not app.user or not hasAllowedRole %}disabled-link{% endif %}" href="http://localhost:3000">
							<span>DASHBOARD</span>
							<span>
								<svg width="66px" height="43px" viewbox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
									</g>
								</svg>
							</span>
						</a>
					</div>

					<div class="wrapper">
						<a class="cta" href="{{ path('app_articles') }}">
							<span>ARTICLES</span>
							<span>
								<svg width="66px" height="43px" viewbox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
										<path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
									</g>
								</svg>
							</span>
						</a>
					</div>
				</div>

				<div class="wrapper">
					<a class="cta cta-ask" href="{{ path('app_contact') }}">
						<span>ASK US</span>
						<span>
							<svg width="66px" height="43px" viewbox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
									<path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
									<path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
								</g>
							</svg>
						</span>
					</a>
				</div>
			</div>

			<div class="wrapper">
				<a class="cta cta-more" href="{{ path('app_more') }}">
					<span>MORE</span>
					<span>
						<svg width="66px" height="43px" viewbox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
								<path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
								<path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
							</g>
						</svg>
					</span>
				</a>
			</div>


		</div>

		<p class="droit">© 2024 WTH. Tous droits réservés.</p>
	</body>
</html></section><section class="rightpart">

<a-scene
	embedded vr-mode-ui="enabled: false" style="    position: absolute;
									      bottom: 1px;
									      left: 50%;
									      z-index: 900;
									      width: 50%;
									      height: 91%; ">
	<!-- Caméra personnalisée -->
	<a-entity camera look-controls="enabled: false" wasd-controls="enabled: false"></a-entity>

	<!-- Modèle 3D -->
	<a-entity id="model1" gltf-model="/models/skeleton/scene.gltf" position="0 -3.3 -3" rotation="0 0 0" scale="1.5 1.5 1.5"></a-entity>

	<a-entity id="model2" gltf-model="/models/male/scene.gltf" position="0 -1.7 -3" rotation="0 0 0" scale="0.15 0.15 0.15"></a-entity>
</a-scene>

<div class="slide-text blanc">
	<h1>KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
	</h1>
</div>
<div class="slide-text bleu1">
	<h1>WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
	</h1>
</div>
<div class="slide-text blanc">
	<h1>KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
	</h1>
</div>
<div class="slide-text bleu2">
	<h1>WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
	</h1>
</div>

<div class="slide-text blanc">
	<h1>KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
	</h1>
</div>
<div class="slide-text bleu3">
	<h1>WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
	</h1>
</div>
<div class="slide-text blanc">
	<h1>KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
	</h1>
</div>
<div class="slide-text bleu4">
	<h1>WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
						                WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS
						                WE
						                THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE HUMANS WE THE
						                HUMANS
	</h1>
</div>
<div class="slide-text blanc">
	<h1>KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
						                KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE FOR WELLNESS KNOWLEDGE
						                FOR
						                WELLNESS
	</h1>
</div></section></main></body></html><script>document.addEventListener('DOMContentLoaded', function () {
var dropdownLinks = document.querySelectorAll('.dropdown-link');
var subDropdownLinks = document.querySelectorAll('.sub-dropdown-link');

dropdownLinks.forEach(function (link) {
link.addEventListener('click', function (event) {
event.preventDefault();
var subMenu = this.nextElementSibling;
subMenu.classList.toggle('show-submenu');
});
});

subDropdownLinks.forEach(function (link) {
link.addEventListener('click', function (event) {
event.preventDefault();
var subSubMenu = this.nextElementSibling;
subSubMenu.classList.toggle('show-sub-submenu');
});
});
});

// texte H1 slide

let slideTexts = document.querySelectorAll('.rightpart .slide-text > h1');
let counter = 0;

slideTexts.forEach(function (h1) {
if (counter % 2 === 0) { // Pour les éléments pairs (0, 2, 4, ...), animation de droite à gauche
anime({
targets: h1,
translateX: [
{
value: '5%',
duration: 0
}, {
value: '-2000%',
duration: 150000
}
],
easing: 'linear',
loop: true
});
} else { // Pour les éléments impairs (1, 3, 5, ...), animation de gauche à droite
anime({
targets: h1,
translateX: [
{
value: '-2000%',
duration: 0
}, {
value: '100%',
duration: 150000
}
],
easing: 'linear',
loop: true
});
} counter++;
});

// /////////////////////////////////////////////////////////////////////////

document.addEventListener('DOMContentLoaded', function () { // Fonction pour animer la rotation continue des modèles 3D
function animateModelRotation() {
var models = document.querySelectorAll('a-entity[gltf-model]');
models.forEach(function (model) {
anime({
targets: model.object3D.rotation,
y: 2 * Math.PI, // Rotation complète de 360 degrés (en radians)
duration: 3000, // Durée de l'animation en millisecondes
easing: 'linear',
loop: true,
update: function () {
model.object3D.rotation.y %= 2 * Math.PI; // Réinitialise la rotation pour éviter les valeurs trop élevées
}
});
});
}

// Fonction pour basculer la visibilité des modèles
function toggleModels() {
let model1 = document.querySelector('#model1');
let model2 = document.querySelector('#model2');

// Initialiser le premier modèle comme visible
model1.setAttribute('visible', true);
model2.setAttribute('visible', false);

// Basculer la visibilité toutes les 3 secondes
setInterval(function () {
let isVisibleModel1 = model1.getAttribute('visible');
model1.setAttribute('visible', ! isVisibleModel1);
model2.setAttribute('visible', isVisibleModel1);
}, 3000); // 3000 millisecondes = 3 secondes
}toggleModels();

// Démarrer l'animation
animateModelRotation();
});

// /////////////////////////////////////////////////////////////////////////

document.addEventListener('DOMContentLoaded', function () {
const entryOverlay = document.querySelector('.page-transition-overlay');

// Désactiver l'overlay après un court délai
setTimeout(() => {
entryOverlay.style.opacity = '0';
entryOverlay.style.visibility = 'hidden';
}, 500); // Délai de fade in
});

// /////////////////////////////////////////////////////////////////////////

const links = document.querySelectorAll('.cta');
const overlay = document.querySelector('.exit-page-transition-overlay');
const title = document.querySelector('.overlay-title');

links.forEach(link => {
link.addEventListener('click', function (e) {
e.preventDefault(); // Empêcher le comportement par défaut du lien
const targetUrl = this.getAttribute('href'); // Obtenir l'URL de navigation
const linkText = this.textContent || this.innerText;
// Obtenir le texte du lien

// Mettre à jour et activer l'overlay
title.textContent = linkText; // Mettre à jour le titre
overlay.classList.add('overlay-active');

// Naviguer vers la nouvelle page après un délai
setTimeout(() => {
window.location.href = targetUrl;
}, 500); // Ce délai doit correspondre à la durée de la transition de l'overlay
});
});</script>
